
body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

.cabecalho, .profissional-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minhas-infos {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.meus-contatos {
    flex-grow: 1;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
}

.logo p {
    font-size: 42px;
    margin-top: 0px;
    margin-right: 35px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-style: italic;
}

.textos {
    margin-left: 20px;
}

.titulo-principal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-principal h4 {
    font-size: 26px;
    margin-left: 20px;
}

.titulo-principal i {
    height: 40px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profissional {
    flex: 2;
}

.skill {
    flex: 1;
}
